@using WebShop1.Areas.Admin.Models.Entites;
@using WebShop1.Models.Bean;
@{ 
    List<Product> lisPro = (List<Product>)ViewBag.lisPro;
    ShoppingCart cart = (ShoppingCart)Session["cart"];
    var quantity = 0;
    var Total = 0;
    if (cart != null)
    {
        quantity = cart.getQuantity();
        Total = (int)cart.getTotal();
    }
}
<h1>
    So Luong: @quantity
</h1>

<h1> Tong tien: @Total</h1>
   

<table border="1">
    <tr>
        <td>Ten</td>       
        <td>Gia</td>
       
        <td>Chuc nang</td>
    </tr>
    @foreach(var item in lisPro)
    {
        <tr>
            <td>@item.name</td>
            <td>@item.newprice</td>
            
            <td><a href="/ShoppingCart/Add/@item.id">Ad to cart</a></td>
        </tr>
    }
</table>
