@*@{
    ViewBag.Title = "Home Page";
}*@

<<!DOCTYPE html>
<!--
-->
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->

<head>
    <title>Học viện kỹ thuật quân sự</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/Content/layout.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <!-- ################################################################################################ -->
            <div id="logo" class="fl_left">
                <h1><a href="index.html"><img src="~/Content/image/logo.png"></a></h1>
            </div>
            <div id="quickinfo" class="fl_right">
                <ul class="nospace inline">
                    <li>
                        <strong>Địa chỉ</strong>
                        <br> 236 - Hoàng Quốc Việt - Bắc Từ Liêm - Hà Nội
                    </li>
                    <li>
                        <strong>Số điện thoại liên hệ:</strong>
                        <br> 09090909090909
                    </li>
                    <li><strong><a href="TemplateAdmin/Sign in.html" style="font-size: 14px">Đăng nhập</a></strong></li>
                </ul>
            </div>
            <!-- ################################################################################################ -->
        </header>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row2">
        <nav id="mainav" class="hoc clear">
            <!-- ################################################################################################ -->
            <ul class="clear">
                <li class="active"><a href="index.html">Trang chủ</a></li>
                <li>
                    <a class="drop" href="pages/Gioithieu.html">Giới thiệu</a>
                    <ul>
                        <li><a href="pages/Gioithieu.html">Giới thiệu chung</a></li>
                        <li><a href="pages/Thuvienanh.html">Thư viện ảnh</a></li>
                    </ul>
                </li>
                <li>
                    <a class="drop" href="pages/Tintuc.html">Tin tức</a>
                    <ul>
                        <li><a href="pages/Tintuc.html">Tin tức - Sự kiện</a></li>
                        <li><a href="pages/Tintuc.html">Thông báo</a></li>
                        <li><a href="#">Văn bản</a></li>
                    </ul>
                </li>
                <li>
                    <a class="drop" href="pages/Daotao.html">Đào tạo</a>
                    <ul>
                        <li><a href="pages/Daotao.html">Giới  thiệu Đào tạo</a></li>
                        <li><a href="#">chương trình đào tạo kỹ sư dân sự</a></li>
                        <li>
                            <a class="drop" href="#">Tin tức Đào tạo</a>
                            <ul>
                                <li><a href="#">Tin tức chung</a></li>
                                <li><a href="#">Thông báo khen thưởng - kỷ luật</a></li>
                                <li><a href="#">Thông báo lịch thi</a></li>
                                <li><a href="#">Thông báo học phí</a></li>
                                <li><a href="#">Thông báo lịch nghỉ</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Đào tạo sau đại học</a></li>
                        <li><a href="#">Cam kết đầu ra</a></li>
                        <li><a href="#">Sổ tay sinh viên</a></li>
                    </ul>
                </li>
                <li><a href="outpages/Tuyensinh/index.html">Tuyển sinh</a></li>
                <li><a href="outpages/Sinhvien/index.html">Sinh viên</a></li>
                <li><a href="pages/Nghiencuu.html">Nghiên cứu</a></li>
                <li><a href="pages/Hoptac.html">Hợp tác</a></li>
            </ul>
            <!-- ################################################################################################ -->
        </nav>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- Slideshow container -->
    <div class="wrapper bgded overlay" style="background-image:url('~/Content/image/backgrounds/01.png');">
        <div class="slideshow-container">
            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
                <div class="numbertext">1</div>
                <img src="~/Content/image/Slide/1.png" style="width:100%">
                <div class="text">Thông tin</div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">2</div>
                <img src="~/Content/image/Slide/2.png" style="width:100%">
                <div class="text">Thông tin</div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">3</div>
                <img src="~/Content/image/Slide/3.png" style="width:100%">
                <div class="text">Thông tin</div>
            </div>
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
        <!-- The dots/circles -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <article class="group">
                <div class="group btmspace-50 demo">
                    <div class="one_half first" style="border: 10px solid #0069A8; border-radius: 10px;padding: 5px">
                        <h4>Tin tức mới</h4>
                        <marquee width="480px" height="360px" direction="up">
                            <ul>
                                <li>
                                    <article>
                                        <header>
                                            <address>
                                                <a href="#">Tên tin tức</a>
                                            </address>
                                            @*    <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>*@
                                        </header>
                                    </article>
                                </li>
                                <li>
                                    <article>
                                        <header>
                                            <address>
                                                <a href="#">Tên tin tức</a>
                                            </address>
                                            @*   <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>*@
                                        </header>
                                    </article>
                                </li>
                                <li>
                                    <article>
                                        <header>
                                            <address>
                                                <a href="#">Tên tin tức</a>
                                            </address>
                                            @*   <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>*@
                                        </header>
                                    </article>
                                </li>
                                <li>
                                    <article>
                                        <header>
                                            <address>
                                                <a href="#">Tên tin tức</a>
                                            </address>
                                            @* <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>*@
                                        </header>
                                    </article>
                                </li>
                                <li>
                                    <article>
                                        <header>
                                            <address>
                                                <a href="#">Tên tin tức</a>
                                            </address>
                                            @*    <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>*@
                                        </header>
                                    </article>
                                </li>
                                <li>
                                    <article>
                                        <header>
                                            <address>
                                                <a href="#">Tên tin tức</a>
                                            </address>
                                            @*  <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>*@
                                        </header>
                                    </article>
                                </li>
                                <li>
                                    <article>
                                        <header>
                                            <address>
                                                <a href="#">Tên tin tức</a>
                                            </address>
                                            @* <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>*@
                                        </header>
                                    </article>
                                </li>
                                <li>
                                    <article>
                                        <header>
                                            <address>
                                                <a href="#">Tên tin tức</a>
                                            </address>
                                            @*  <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>*@
                                        </header>
                                    </article>
                                </li>
                            </ul>
                        </marquee>
                    </div>
                    <div class="one_half" style="border: 10px solid #0069A8 ;border-radius: 10px;padding: 5px">
                        <h4>Thông báo</h4>
                        <marquee width="480px" height="360px" direction="up">
                            <ul>
                                <li>
                                    <article>
                                        <header>
                                            <address>
                                                <a href="#">Tên thông báo</a>
                                            </address>
                                            @*  <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>*@
                                        </header>
                                    </article>
                                </li>
                                <li>
                                    <article>
                                        <header>
                                            <address>
                                                <a href="#">Tên thông báo</a>
                                            </address>
                                            @*  <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>*@
                                        </header>
                                    </article>
                                </li>
                                <li>
                                    <article>
                                        <header>
                                            <address>
                                                <a href="#">Tên thông báo</a>
                                            </address>
                                            @*<time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>*@
                                        </header>
                                    </article>
                                </li>
                                <li>
                                    <article>
                                        <header>
                                            <address>
                                                <a href="#">Tên thông báo</a>
                                            </address>
                                            @*   <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>*@
                                        </header>
                                    </article>
                                </li>
                                <li>
                                    <article>
                                        <header>
                                            <address>
                                                <a href="#">Tên thông báo</a>
                                            </address>
                                            @*  <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>*@
                                        </header>
                                    </article>
                                </li>
                                <li>
                                    <article>
                                        <header>
                                            <address>
                                                <a href="#">Tên thông báo</a>
                                            </address>
                                            @*  <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>*@
                                        </header>
                                    </article>
                                </li>
                                <li>
                                    <article>
                                        <header>
                                            <address>
                                                <a href="#">Tên thông báo</a>
                                            </address>
                                            @*  <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>*@
                                        </header>
                                    </article>
                                </li>
                                <li>
                                    <article>
                                        <header>
                                            <address>
                                                <a href="#">Tên thông báo</a>
                                            </address>
                                            @*  <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>*@
                                        </header>
                                    </article>
                                </li>
                            </ul>
                        </marquee>
                    </div>
                </div>
                <div class="group btmspace-80">
                    <div class="one_quarter first">
                        <p class="font-xs">Học viện kỹ thuật quân sự</p>
                        <h6 class="heading">Giới thiệu chung</h6>
                    </div>
                    <div class="three_quarter">
                        <p>Học viện Kỹ thuật Quân sự được thành lập theo Quyết định số 146/CP ngày 08/8/1966 của Hội đồng Chính phủ với tên gọi ban đầu là “Phân hiệu II Đại học Bách khoa”. </p>
                        <p class="btmspace-30">Ngày 28/10/1966, tại Hội trường lớn Đại học Bách khoa, Bộ Đại học và Trung học chuyên nghiệp (nay là Bộ Giáo dục và Đào tạo) và Bộ Quốc phòng long trọng tổ chức Lễ thành lập Phân hiệu II Đại học Bách khoa, đồng thời khai giảng khoá đào tạo đầu tiên. Từ đó, ngày 28/10/1966 được chọn là Ngày truyền thống của Học viện Kỹ thuật Quân sự.&hellip;</p>
                        <footer><a class="btn" href="pages/Gioithieu.html">Đọc thêm &raquo;</a></footer>
                    </div>
                </div>
                <figure>
                    <h6 class="heading">Một số hình ảnh tiêu biểu</h6>
                    <ul class="nospace group overview">
                        <li class="one_half"><a href="#"><img src="~/Content/image/480x360.png" alt=""></a></li>
                        <li class="one_half"><a href="#"><img src="~/Content/image/480x360.png" alt=""></a></li>
                        <li class="one_half"><a href="#"><img src="~/Content/image/480x360.png" alt=""></a></li>
                        <li class="one_half"><a href="#"><img src="~/Content/image/480x360.png" alt=""></a></li>
                        <li class="one_half"><a href="#"><img src="~/Content/image/480x360.png" alt=""></a></li>
                        <li class="one_half"><a href="#"><img src="~/Content/image/480x360.png" alt=""></a></li>
                    </ul>
                </figure>
            </article>
            <!-- ################################################################################################ -->
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper bgded overlay" style="background-image:url('~/Content/image/backgrounds/02.png');">
        <article class="hoc container clear center">
            <!-- ################################################################################################ -->
            <div class="sectiontitle" style="margin-bottom:30px;">
                <h6 class="heading">Bài báo tiêu biểu</h6>
                <p>Nội dung</p>
            </div>
            <p><a class="btn medium" href="#">Đọc tiếp &raquo;</a></p>
            <!-- ################################################################################################ -->
        </article>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
        <section class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <h6 class="heading">Tin Tức mới</h6>
                <p>Thông tin cập nhật</p>
            </div>
            <div class="group">
                <article class="one_third first">
                    <a href="#"><img class="btmspace-30" src="~/Content/image/320x240.png" alt=""></a>
                    <h6 class="nospace heading">Tin 1</h6>
                    <ul class="nospace meta">
                        <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
                        <li><i class="fa fa-tag"></i> <a href="#">Tag Name</a></li>
                    </ul>
                    <p>Nội dung&hellip;</p>
                    <footer class="nospace"><a class="btn" href="#">Read More</a></footer>
                </article>
                <article class="one_third">
                    <a href="#"><img class="btmspace-30" src="~/Content/image/320x240.png" alt=""></a>
                    <h6 class="nospace heading">Tin 2</h6>
                    <ul class="nospace meta">
                        <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
                        <li><i class="fa fa-tag"></i> <a href="#">Tag Name</a></li>
                    </ul>
                    <p>Nội dung&hellip;</p>
                    <footer class="nospace"><a class="btn" href="#">Read More</a></footer>
                </article>
                <article class="one_third">
                    <a href="#"><img class="btmspace-30" src="~/Content/image/320x240.png" alt=""></a>
                    <h6 class="nospace heading">Tin 3</h6>
                    <ul class="nospace meta">
                        <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
                        <li><i class="fa fa-tag"></i> <a href="#">Tag Name</a></li>
                    </ul>
                    <p>Nội dung&hellip;</p>
                    <footer class="nospace"><a class="btn" href="#">Read More</a></footer>
                </article>
            </div>
            <!-- ################################################################################################ -->
        </section>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper bgded overlay light" style="background-image:url('~/Content/image/backgrounds/03.png');">
        <article class="hoc cta clear">
            <!-- ################################################################################################ -->
            <h6 class="three_quarter first">Trang sinh viên đăng ký tín chỉ</h6>
            <footer class="one_quarter"><a class="btn" href="#">Chuyển hướng &raquo;</a></footer>
            <!-- ################################################################################################ -->
        </article>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row4">
        <footer id="footer" class="hoc clear">
            <!-- ################################################################################################ -->
            <div class="one_quarter first">
                <h6 class="heading">Liên hệ</h6>
                <ul class="nospace btmspace-30 linklist contact">
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <address>
                            Địa chỉ : 236 - Hoàng Quốc Việt - Bắc Từ Liêm - Hà Nội
                        </address>
                    </li>
                    <li><i class="fa fa-phone"></i> 069 515200</li>
                    <li><i class="fa fa-envelope-o"></i> info@mta.edu.vn</li>
                </ul>
                <ul class="faico clear">
                    <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="one_quarter">
                <h6 class="heading">Liên kết nhanh</h6>
                <ul class="nospace linklist">
                    <li><a href="#">Đăng ký tín chỉ</a></li>
                    <li><a href="#">Thư điện tử</a></li>
                    <li><a href="#">Trung tâm ngoại ngữ</a></li>
                </ul>
            </div>
            <div class="one_quarter">
                <h6 class="heading">Liên kết phòng ban</h6>
                <ul class="nospace linklist">
                    <li><a href="#">Phòng đào tạo</a></li>
                    <li><a href="#">Phòng sau đại học</a></li>
                    <li><a href="#">Phòng khoa học quân sự</a></li>
                    <li><a href="#">Viện công trình kỹ thuật đặc biệt</a></li>
                    <li><a href="#">Trung tâm công nghệ</a></li>
                </ul>
            </div>
            <div class="one_quarter">
                <h6 class="heading">Liên kết khoa</h6>
                <ul class="nospace linklist">
                    <li><a href="#">Khoa hàng không vũ trụ</a></li>
                    <li><a href="#">Khoa vô tuyến điện tử</a></li>
                    <li><a href="#">Khoa hóa lý kỹ thuật</a></li>
                    <li><a href="#">Khoa động lực</a></li>
                    <li><a href="#">Khoa công nghệ thông tin</a></li>
                    <li><a href="#">Khoa kỹ thuật điều khiển</a></li>
                    <li><a href="#">Khoa cơ khí</a></li>
                </ul>
            </div>
            <!-- ################################################################################################ -->
        </footer>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row5">
        <div id="copyright" class="hoc clear">
            <!-- ################################################################################################ -->
            <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a href="#">Domain Name</a></p>
            <p class="fl_right">#<a href="#"></a>#</p>
            <!-- ################################################################################################ -->
        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.backtotop.js"></script>
    <script src="~/Scripts/jquery.mobilemenu.js"></script>
    <script src="~/Scripts/slideshow.js"></script>
</body>

</html>