<!DOCTYPE html>
<!--
-->
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->

<head>
    <title>Học viện kỹ thuật quân sự</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="../layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <!-- ################################################################################################ -->
            <div id="logo" class="fl_left">
                <h1><a href="index.html"><img src="../images/demo/logo.png"></a></h1>
            </div>
            <div id="quickinfo" class="fl_right">
                <ul class="nospace inline">
                    <li><strong>Địa chỉ</strong>
                        <br> 236 - Hoàng Quốc Việt - Bắc Từ Liêm - Hà Nội
                    </li>
                    <li><strong>Số điện thoại liên hệ:</strong>
                        <br> 09090909090909
                    </li>
                    <li><strong><a href="TemplateAdmin/Sign in.html" style="font-size: 14px">Đăng nhập</a></strong></li>
                </ul>
            </div>
            <!-- ################################################################################################ -->
        </header> 
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row2">
        <nav id="mainav" class="hoc clear">
            <!-- ################################################################################################ -->
            <ul class="clear">
                <li><a href="../index.html">Trang chủ</a></li>
                <li><a class="drop" href="Gioithieu.html">Giới thiệu</a>
                    <ul>
                        <li><a href="Gioithieu.html">Giới thiệu chung</a></li>
                        <li><a href="Thuvienanh.html">Thư viện ảnh</a></li>
                    </ul>
                </li>
                <li><a class="drop" href="Tintuc.html">Tin tức</a>
                    <ul>
                        <li><a href="#">Tin tức - Sự kiện</a></li>
                        <li><a href="#">Thông báo</a></li>
                        <li><a href="#">Văn bản</a></li>
                    </ul>
                </li>
                <li><a class="drop" href="Daotao.html">Đào tạo</a>
                    <ul>
                        <li><a href="#">Giới thiệu Đào tạo</a></li>
                        <li><a href="#">Chương trình đào tạo kỹ sư dân sự</a></li>
                        <li><a class="drop" href="#">Tin tức Đào tạo</a>
                            <ul>
                                <li><a href="#">Tin tức chung</a></li>
                                <li><a href="#">Thông báo khen thưởng - kỷ luật</a></li>
                                <li><a href="#">Thông báo lịch thi</a></li>
                                <li><a href="#">Thông báo học phí</a></li>
                                <li><a href="#">Thông báo lịch nghỉ</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Đào tạo sau đại học</a></li>
                        <li><a href="#">Cam kết đầu ra</a></li>
                        <li><a href="#">Sổ tay sinh viên</a></li>
                    </ul>
                </li>
                <li><a href="../outpages/Tuyensinh/index.html">Tuyển sinh</a></li>
                <li><a href="../outpages/Sinhvien/index.html">Sinh viên</a></li>
                <li><a href="Nghiencuu.html">Nghiên cứu</a></li>
                <li class="active"><a href="Hoptac.html">Hợp tác</a></li>
            </ul>
            <!-- ################################################################################################ -->
        </nav>
    </div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');">
  <div id="breadcrumb" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul>
      <li><a href="../index.html">Trang chủ</a></li>
      <li><a href="Hoptac.html">Hợp tác</a></li>
      <li><a href="#">Tin hợp tác</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sidebar one_quarter first"> 
      <!-- ################################################################################################ -->
      <h6>Hợp tác</h6>
      <nav class="sdb_holder">
        <ul>
          <li><a href="#">Giới thiệu</a></li>
          <li><a href="#">Tin hợp tác</a>
          <li><a href="#">Hội nghị, hội thảo</a></li>
          <li><a href="#">Học bổng, du học</a></li>
          <li><a href="#">Cam kết đầu ra</a></li>
          <li><a href="#">Liên kết các đối tác</a></li>
        </ul>
      </nav>
      <div class="sdb_holder">
        <h6>Thông tin bên lề</h6>
        <address>
        ...<br>
        ...<br>
        ...<br>
        </address>
      </div>
      <div class="sdb_holder">
        <h6>Thông tin bên lề</h6>
        <address>
        ...<br>
        ...<br>
        ...<br>
        </address>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="content three_quarter"> 
      <!-- ################################################################################################ -->
      <div id="comments">
        <h2>Tin tức</h2>
        <ul>
          <li>
            <article>
              <header>
                <address>
                <a href="#">Tên tin tức</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>Nội dung tin tức</p>
              </div>
              <footer class="nospace"><a class="btn" href="#">Read More</a></footer>
            </article>
          </li>
          <li>
             <article>
              <header>
                <address>
                <a href="#">Tên tin tức</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>Nội dung tin tức</p>
              </div>
              <footer class="nospace"><a class="btn" href="#">Read More</a></footer>
            </article>
          </li>
          <li>
             <article>
              <header>
                <address>
                <a href="#">Tên tin tức</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>Nội dung tin tức</p>
              </div>
              <footer class="nospace"><a class="btn" href="#">Read More</a></footer>
            </article>
          </li>
          <li>
            <article>
              <header>
                <address>
                <a href="#">Tên tin tức</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>Nội dung tin tức</p>
              </div>
              <footer class="nospace"><a class="btn" href="#">Read More</a></footer>
            </article>
          </li>
          <li>
             <article>
              <header>
                <address>
                <a href="#">Tên tin tức</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>Nội dung tin tức</p>
              </div>
              <footer class="nospace"><a class="btn" href="#">Read More</a></footer>
            </article>
          </li>
          <li>
             <article>
              <header>
                <address>
                <a href="#">Tên tin tức</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>Nội dung tin tức</p>
              </div>
              <footer class="nospace"><a class="btn" href="#">Read More</a></footer>
            </article>
          </li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
    <nav class="pagination">
        <ul>
          <li><a href="#">&laquo; Previous</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a href="#">6</a></li>
          <li class="current"><strong>7</strong></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a href="#">14</a></li>
          <li><a href="#">15</a></li>
          <li><a href="#">Next &raquo;</a></li>
        </ul>
      </nav>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
        <footer id="footer" class="hoc clear">
            <!-- ################################################################################################ -->
            <div class="one_quarter first">
                <h6 class="heading">Liên hệ</h6>
                <ul class="nospace btmspace-30 linklist contact">
                    <li><i class="fa fa-map-marker"></i>
                        <address>
                            Địa chỉ : 236 - Hoàng Quốc Việt - Bắc Từ Liêm - Hà Nội
                        </address>
                    </li>
                    <li><i class="fa fa-phone"></i> 069 515200</li>
                    <li><i class="fa fa-envelope-o"></i> info@mta.edu.vn</li>
                </ul>
                <ul class="faico clear">
                    <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="one_quarter">
                <h6 class="heading">Liên kết nhanh</h6>
                <ul class="nospace linklist">
                    <li><a href="#">Đăng ký tín chỉ</a></li>
                    <li><a href="#">Thư điện tử</a></li>
                    <li><a href="#">Trung tâm ngoại ngữ</a></li>
                </ul>
            </div>
            <div class="one_quarter">
                <h6 class="heading">Liên kết phòng ban</h6>
                <ul class="nospace linklist">
                    <li><a href="#">Phòng đào tạo</a></li>
                    <li><a href="#">Phòng sau đại học</a></li>
                    <li><a href="#">Phòng khoa học quân sự</a></li>
                    <li><a href="#">Viện công trình kỹ thuật đặc biệt</a></li>
                    <li><a href="#">Trung tâm công nghệ</a></li>
                </ul>
            </div>
            <div class="one_quarter">
                <h6 class="heading">Liên kết khoa</h6>
                <ul class="nospace linklist">
                    <li><a href="#">Khoa hàng không vũ trụ</a></li>
                    <li><a href="#">Khoa vô tuyến điện tử</a></li>
                    <li><a href="#">Khoa hóa lý kỹ thuật</a></li>
                    <li><a href="#">Khoa động lực</a></li>
                    <li><a href="#">Khoa công nghệ thông tin</a></li>
                    <li><a href="#">Khoa kỹ thuật điều khiển</a></li>
                    <li><a href="#">Khoa cơ khí</a></li>
                </ul>
            </div>
            <!-- ################################################################################################ -->
        </footer>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row5">
        <div id="copyright" class="hoc clear">
            <!-- ################################################################################################ -->
            <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a href="#">Domain Name</a></p>
            <p class="fl_right">#<a href="#"></a>#</p>
            <!-- ################################################################################################ -->
        </div>
    </div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>