
@{
    ViewBag.Title = "tinNghienCuu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MTAWEB.Models.ENTITY
@{
    List<SUBCATEGOTY> lsSubCate = (List<SUBCATEGOTY>)ViewBag.lisSubCate;
    List<NEWS> lsNew = (List<NEWS>)ViewBag.lisNew;
}
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('~/Content/image/backgrounds/01.png');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="../index.html">Trang chủ</a></li>
            <li><a href="#">Nghiên cứu</a></li>
        </ul>
        <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <div class="sidebar one_quarter first">
                <!-- ################################################################################################ -->
                <h6>Nghiên cứu</h6>
                <nav class="sdb_holder">
                    <ul>
                        @foreach (SUBCATEGOTY item in lsSubCate)
                        {
                            <li>

                                <a href="/NghienCuu/tinNghienCuu/@item.id">@item.name</a>

                            </li>
                        }

                    </ul>
                </nav>
                <div class="sdb_holder">
                    <h6>Thông tin bên lề</h6>
                    <address>
                        ...<br>
                        ...<br>
                        ...<br>
                    </address>
                </div>
                <div class="sdb_holder">
                    <h6>Thông tin bên lề</h6>
                    <address>
                        ...<br>
                        ...<br>
                        ...<br>
                    </address>
                </div>
                <!-- ################################################################################################ -->
            </div>
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->
            <div class="content three_quarter">
                <!-- ################################################################################################ -->
                <div id="comments">
                    <h2>Nghiên cứu khoa học</h2>
                    <ul>
                        @foreach (NEWS item in lsNew)
                        {
                            <li>
                                <article>
                                    <header>
                                        <address>
                                            <a href="#">@item.name</a>
                                        </address>
                                        <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> @item.dateup</time>
                                    </header>
                                    <div class="comcont">
                                        <p>@item.content</p>
                                    </div>
                                    <footer class="nospace"><a class="btn" href="#">Read More</a></footer>
                                </article>
                            </li>
                        }
                    </ul>
                        
                    
                </div>
                <!-- ################################################################################################ -->
            </div>
            <!-- ################################################################################################ -->
            <!-- / main body -->
            <div class="clear"></div>
            <nav class="pagination">
                <ul>
                    <li><a href="#">&laquo; Previous</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><strong>&hellip;</strong></li>
                    <li><a href="#">6</a></li>
                    <li class="current"><strong>7</strong></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><strong>&hellip;</strong></li>
                    <li><a href="#">14</a></li>
                    <li><a href="#">15</a></li>
                    <li><a href="#">Next &raquo;</a></li>
                </ul>
            </nav>
        </main>
    </div>



